.logo {
	background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    min-height: 300px;
    background-size: 400px;
}

.removeCM {
	vertical-align: middle;
}

.removeCM > i {
	vertical-align: middle;
}

.addElement {
	position: absolute;
    bottom: -35px;
    right: 51px;
}